
@import "../styles/bootstrap.min.css";

@background: #f2f2f2;
@text: #313131;
@color3: #f9f9f9;
@hover: #d1d1d1;

// mixins

.transition {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav-item-shared {
  .transition();

  text-align: center;
  display: inline-block;
  width: 4.5rem;
  padding: 1rem 2rem;
  box-sizing: content-box;
}

// styles

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: @background;
  position: relative;
  display: flex;
}

#app {
  color: @text;
  padding: 1rem;

  margin: 1rem;
  width: 768px;
  height: 576px;

  @media (min-width: 800px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-height: 600px) {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.nav-bar {
  font-weight: 600;
  padding: 0;
  white-space: nowrap;

  @media (min-width: 375px) {
    padding: 0 1rem;
  }
}

.nav-item {
  .nav-item-shared();

  cursor: pointer;

  &:hover {
    background-color: @hover;
  }
}

.nav-active {
  .nav-item-shared();

  cursor: default;

  color: @background;
  background-color: @text;
}

.content {
  border-top: 2px solid @text;
  padding: 1rem;

  @media (min-width: 768px) {
    padding: 1rem 2rem;
  }
}

.feature {
  .transition();

  box-shadow: 1rem 1rem rgba(0,0,0,0.5);
  padding: 1rem;
  width: fit-content;
  background-color: @color3;
}