
@import "../styles/bootstrap.min.css";

@background: #f1f1f1;
@text: #313131;
@app: #f2f2f2;
@feature: #f1f1f1;
@hover: #d1d1d1;
@border: #d1d1d1;

// mixins

.shadow {
  box-shadow: 1rem 1rem rgba(0,0,0,0.5);
  border: 1px solid @border;
}

.transition {
  @fast: 0.3s;

  -webkit-transition: @fast;
  -moz-transition:@fast;
  -o-transition: @fast;
  transition: @fast;
}

.nav-item-shared {
  .transition();

  text-align: center;
  display: inline-block;
  width: 4.5rem;
  padding: 1rem 2rem;
  box-sizing: content-box;
}

.content {
  border-top: 2px solid @text;
  padding: 1rem 1rem 2rem 1rem;
  width: 100%;
}

.responsive-640 {
  @media (min-width: 640px) {
    display: flex;
  }
}

// styles

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: @background;
  position: relative;
  display: flex;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

ul {
  list-style-type: square;
  padding: 0 0 1rem 2rem;
  margin: 0;
}

img {
  widows: 20px;
  height: 20px;
}

#app {
  .shadow();

  color: @text;
  background-color: @background;
  padding: 1rem;
  margin: 1rem auto 2rem auto;
  width: 300px;
  height: fit-content;
  min-height: 480px;

  @media (min-width: 450px) {
    width: 420px;
  }

  @media (min-width: 640px) {
    margin: auto;
    width: 610px;
  }
}

.nav-bar {
  font-weight: 600;
  padding: 0 1rem;
  white-space: nowrap;
}

.nav-item {
  .nav-item-shared();

  cursor: pointer;

  &:hover {
    background-color: @hover;
  }
}

.nav-active {
  .nav-item-shared();

  cursor: default;

  color: @background;
  background-color: @text;
}

.feature {
  .transition();

  white-space: nowrap;
  opacity: 0;
  padding: 1rem;
  margin: 1rem 1rem 0 1rem;
  width: fit-content;
  height: fit-content;
  min-width: 150px;
  background-color: @feature;
}

.load {
  opacity: 1;
}

.about {
  .content();
  display: block
}

.skills {
  .content();
  .responsive-640();

  @media (min-width: 450px) {
    padding-left: 4rem;
  }

  @media (min-width: 640px) {
    padding-top: 6rem;
  }
}

.apps {
  .content();

  display: inline-block;
  text-align: center;
}

.education {
  .responsive-640();

  p {
    margin-top: 0.5rem;
    margin-right: 2rem;
  }
}

.text-wrap {
  max-width: 350px;
  white-space: normal;
}