
@import "../styles/bootstrap.min.css";

@color1: #f6f6f6;
@color2: #000000;
@color3: #d0d0d0;

// mixins

.transition {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav-item-shared {
  .transition();

  text-align: center;
  display: inline-block;
  width: 4.5rem;
  padding: 1rem 2rem;
  box-sizing: content-box;
}

// styles

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: @color1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  color: @color2;
  max-width: 1024px;
  width: 90%;
  height: 90%;

  @media (min-width: 768px) {
    width: 70%;
    height: 70%;
  }
}

.nav-bar {
  font-weight: 600;
  padding: 0 2rem;
  white-space: nowrap
}

.nav-item {
  .nav-item-shared();

  cursor: pointer;

  &:hover {
    background-color: @color3;
  }
}

.nav-active {
  .nav-item-shared();

  color: @color1;
  background-color: @color2;
}

.content {
  border-top: 2px solid @color2;
  padding: 2rem;
}